:root {
  --padding: 1rem;
  --primary: #000000;
  --light: #fff;
  --secondary: #e0dfe5;
  --contrast: #214531;
  /* --background: #5b5971; */
  --background: #1b203d;
  --complementaryBackgroundColor: #c5bc85;
  --button: #7ebd5a;
  --alert: #8a0000;
  --alertbackground: rgba(255, 0, 0, 0.1);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  /* color: var(--primary); */
  text-decoration: none;
}

body {
  margin: 0;
  background: linear-gradient(to right, #596280, #e1dfe5, #596280);
  box-sizing: border-box;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  gap: 1rem;
  font-family: "Oswald", sans-serif;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
}

main img {
  max-width: 100%;
  max-height: auto;
  margin: 0 auto;
  padding: var(--padding);
}

/* Header design */
header {
  grid-row: 1;
  grid-column: 1 / -1;
  background-color: var(--primary);
  /* color: var(--light); */
  height: 100px;
  width: 100%;
  position: static;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-container {
  display: flex;
  width: 100%;
  max-width: 70rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: auto;
  padding: var(--padding);
  color: var(--light);
}

.current {
  text-decoration: underline;
}

.header-container img {
  max-width: 100px;
}

.search {
  background: var(--light);
  border-radius: 1.62em;
  padding: 1em 0;
  width: 20rem;
  color: var(--primary);
  text-indent: 10px;
}
.hidden-text {
  display: none;
  padding-left: var(--padding);
}

.fa-cart-shopping,
.fa-magnifying-glass,
.hamburger-icon,
#menu-checkbox {
  display: none;
}
.dark-theme-select {
}

.dark-theme-text {
  font-size: 0.8em;
}
nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

nav a {
  text-decoration: solid;
  text-align: center;
  font-size: 1.2rem;
  color: var(--light);
}

/* HTML rendering */
main {
  grid-row: 2;
  grid-column: 1 / -1;
}

.results,
.details {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  justify-content: space-between;
  text-align: center;
  max-width: 70rem;
  margin: 0 auto;
}

.details img {
  max-width: 100%;
  max-height: 25rem;
}

.homeContent,
.newscontainer,
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  max-width: 70rem;
  margin: 0 auto;
}
.text-container img {
  width: 100%;
  height: auto;
}

/* .card {
  background-color: var(--complementaryBackgroundColor);
  color: var(--primary);
} */

.cover:hover {
  opacity: 0.5;
}

/* Footer design */
footer {
  grid-row: 3;
  grid-column: 1 / -1;
  display: grid;
  background-color: var(--primary);
  color: var(--light);
  height: 150px;
  text-transform: uppercase;
  position: sticky;
  width: 100%;
  margin-top: auto;
  margin: 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
  width: 100%;
}

.brands {
  font-size: x-large;
}
.gamebackground a {
  background-color: var(--background);
  color: var(--light);
}

.gamebackground {
  width: 100%;
  background-color: var(--background);
}
main {
  color: var(--primary);
}

.tab-menu {
  display: none;
}

/*----- Text styling -----*/

/* Main headline */
h1 {
  text-align: center;
  text-shadow: var(--background) 5px 0 10px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3em;
  letter-spacing: 5px;
  /* text-decoration: underline; */
  margin-top: 20px;
  margin-bottom: 20px;
}

/* News headline */
h2 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 10px;
  background: linear-gradient(
    to right,
    var(--background),
    var(--light),
    var(--background)
  );
  color: var(--primary);
  font-size: 2em;
  margin: 0 auto;
  padding: 0.5rem;
}

/* Game info */
h3 {
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
  margin: 0 auto;
}

p {
  text-align: center;
}

/* Link styling */
a {
  color: var(--primary);
}

footer a {
  color: var(--light);
}

.infotext {
  text-align: justify;
  padding: var(--padding);
  font-size: 1.2rem;
}

/* Form */
.form-container {
  max-width: 265px;
  /* margin: 0 auto; */
  padding: var(--padding);
  background-color: var(--light);
  color: var(--primary);
  border-color: var(--primary);
  border-style: solid;
  border-radius: 4px;
  font-size: 1rem;
}

/* form i-button {
  padding: var(--padding);
  margin-top: 1rem;
  width: 100%;
  color: var(--light);
  background-color: var(--button);
  border: solid var(--primary);
  border-radius: 4px;
  cursor: pointer;
} */

form div {
  margin: 3px auto;
}

.form-error {
  display: none;
  color: var(--alert);
  /* background-color: var(--secondary); */
  font-size: 0.8rem;
  margin-top: 3px;
  padding: 0.2rem;
  border-radius: 5px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 70rem;
  margin: 0 auto;
  gap: 2em;
}

.wrapper.contact {
  flex-direction: column;
}

.wrapper input {
  border: 2px solid var(--primary);
  border-radius: 4px;
  display: block;
  font-size: 1rem;
  padding: var(--padding);
  width: 100%;
  cursor: pointer;
}

.wrapper input:focus {
  outline: 0;
}

input:required {
  border-left: 0.2em solid var(--contrast);
  border-right: 0.2em solid var(--contrast);
}

.textInput {
  margin-top: 2px;
  height: 28px;
  border: 1px var(--primary);
  padding: var(--padding);
  width: 100%;
}

.val_error {
  color: var(--alert);
}

.vcard {
  width: 80%;
  margin: 0 auto;
}
/* fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
} */

/* Checkout picture */
.checkout {
  max-width: 265px;
}

.checkout p {
  text-align: center;
}

/* Loader */
.loader {
  display: grid;
  justify-self: center;
  align-self: center;
  border: 16px solid var(--light);
  border-top: 16px solid var(--button);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* img {
  margin: 0 auto;
} */
.logoonpage {
  margin: 0 auto;
  max-width: 50%;
}
/* Game designs */

/* Button */

.input-button {
  display: block;
  border-radius: 10px;
  border: solid currentColor;
  border-color: var(--primary);
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin: 1rem auto;
  color: var(--primary);
  background-color: var(--button);
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 300px;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    will-change: transform;
  }
}

.productsbutton {
  display: block;
  background-color: var(--button);
  border: 2px solid currentColor;
  border-radius: 2rem;
  color: var(--primary);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  overflow: hidden;
  padding: 2rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  transition: 0.2s;
  transform: ease-in-out;
  max-width: auto;
  max-height: 100%;
  margin: var(--padding);

  &::after {
    background-color: var(--light);
    border-radius: 2rem;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(0deg);
    transform-origin: top-left;
    transition: 0.3s transform ease-out;
    will-change: transform;
    z-index: -1;
  }

  &:hover::after {
    transform: translate(0, 0);
  }

  &:hover {
    border: 2px solid transparent;
    color: var(--primary);
    transform: scale(1.05);
    will-change: transform;
  }
}

/* Error handling */
.error {
  border: 1px solid var(--alert);
  padding: var(--padding);
  color: var(--light);
  background: var(--alertbackground);
}
/* PAYMENT */
.payment-container {
  text-align: center;
}

/* @media screen and (min-width: 40rem) and (max-width: 50rem) {
  .results,
  .display,
  .text-container,
  .textInput {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
} */

@media (max-width: 40rem) {
  /* Header design */
  header {
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    bottom: 0;
    z-index: 999999999999999999;
    gap: 0;
  }
  .header-container {
    gap: 0.3rem;
    justify-content: space-around;
  }

  .dark-theme-select,
  .search {
    display: none;
    /* background: var(--light);
    border-radius: 20px;
    padding: 6px;
    width: 50%;
    color: var(--primary); */
  }

  .fa-cart-shopping,
  .fa-magnifying-glass,
  .hamburger-icon {
    transform: scale(1.8);
    display: block;
    align-items: right;
    color: var(--light);
  }

  text {
    display: none;
  }

  nav,
  #menu-checkbox {
    display: none;
    width: 100%;
    color: var(--light);
  }
  #menu-checkbox:checked ~ nav {
    display: block;
    color: var(--light);
  }
  nav {
    background: var(--primary);
    position: absolute;
    bottom: 100px;
    left: 0px;
    color: var(--light);
  }
  nav a:hover {
    opacity: 0.3;
  }
  nav a {
    display: block;
    text-decoration: solid;
    text-align: center;
    padding: 0.7em;
    font-size: 1.2rem;
    color: var(--light);
  }

  main {
    margin-bottom: 5rem;
  }

  footer {
    display: none;
  }
}
